// SASS rem
@import "sass-rem/rem";


// Bootstrap
// Configuration
@import "bootstrap/scss/functions";
@import "lib/sass/vars/bootstrap";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// Layout & components
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
// @import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
// @import "bootstrap/scss/containers";
// @import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
// @import "bootstrap/scss/buttons";
// @import "bootstrap/scss/transitions";
// @import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar";
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/accordion";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/list-group";
// @import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
// @import "bootstrap/scss/modal";
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
// @import "bootstrap/scss/offcanvas";

// Helpers
// @import "bootstrap/scss/helpers/clearfix";
// @import "bootstrap/scss/helpers/colored-links";
// @import "bootstrap/scss/helpers/ratio";
// @import "bootstrap/scss/helpers/position";
@import "bootstrap/scss/helpers/visually-hidden";
// @import "bootstrap/scss/helpers/stretched-link";
// @import "bootstrap/scss/helpers/text-truncation";

// Utilities
// @import "bootstrap/scss/utilities/api";


// Project
// Variables
@import "lib/sass/vars/custom";


// Other modules
@import "@codebundlesbyvik/simple-notifier";


// Project
// Mixins
// @import "helpers/sass/mixins/aspect-ratio";
@import "helpers/sass/mixins/breakpoints";
@import "helpers/sass/mixins/browserhacks";

// Utilities
@import "helpers/sass/utilities/animation";
// @import "helpers/sass/utilities/display";

// Global
@import "components/shared/global/global";

// Sections
@import "components/sections/home/home";

// Components
@import "components/sections/contact/input/input";
@import "components/sections/contact/spinner/spinner";
@import "components/sections/contact/icon-grid/icon-grid";
@import "components/sections/home/nav/home-nav";
@import "components/sections/home/about-me/about-me";
@import "components/sections/home/blob/blob";
