[id^="label-maths-captcha"] {
    [data-mc-generating] & {
        @extend .visually-hidden;
    }
}

[id^="loader-maths-captcha"] {
    grid-column: 1;
    margin-left: auto;
    margin-right: auto;
}
