.container {
    min-height: var(--vh);
    margin-left: auto;
    margin-right: auto;
    padding: rem(24px);

    .no-js & {
        min-height: 100vh;
    }

    #home > & {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        max-width: rem(1440px);

        @include respond-above(xs) {
            padding-left: 10vw;
            padding-right: 10vw;
        }

        @include respond-above(sm) {
            padding-left: 15vw;
            padding-right: 15vw;
        }

        @include respond-above(xxl) {
            padding-left: rem(216px);
            padding-right: rem(216px);
        }
    }
}

.home {
    &-viktor {
        grid-column: 1 / span 3;
        grid-row: 1 / span 2;
        align-self: center;
    }

    &-nav {
        grid-column: 2 / span 2;
        grid-row: 3;
        justify-self: flex-end;
        align-self: flex-end;
    }
}

.viktor-about {
    position: relative;
    top: 1em;
    left: 1.75em;
    width: calc(100% - 1.75em);
}

.site-header {
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
    width: 100%;
    height: rem(56px);
    background-color: $white;
    box-shadow: 0 0 rem(5px) 0 rgba(0, 0, 0, 0.25);

    @include respond-above(sm) {
        bottom: rem(8px);
        left: 50%;
        width: rem(480px);
        height: rem(62px);
        border-radius: rem(6px);
        box-shadow: 0 0 rem(6px) rem(1px) rgba(0, 0, 0, 0.25);
        transform: translateX(-50%);
    }

    @include respond-above(md) {
        width: rem(540px);
    }

    @include respond-above(xl) {
        width: rem(640px);
    }
}

.site-main {
    height: calc(100vh - #{rem(56px)}); // 100vh - .site-header height
    padding-top: rem(20px);
    padding-bottom: rem(20px);
    overflow-y: auto;
    scrollbar-width: thin;

    @include respond-above(sm) {
        height: calc(100vh - #{rem(62px)} - #{rem(8px)}); // 100vh - .site-header height - .site-header bottom
    }

    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        background-color: $off-white-light;

        &-track {
            background-color: $off-white-light;
            border-radius: 100px;
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }

        &-thumb {
            background-color: $gray-light;
            border-radius: 100px;
            box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
        }
    }
}
