body {
    min-width: $min-vw;
    margin: 0 auto;
}

main {
    overflow-x: hidden;
}

section {
    min-height: 100vh;

    &#home {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.container {
    position: relative;
    max-width: rem(1440px);
    min-height: $min-vh;
    margin-left: auto;
    margin-right: auto;
    padding: rem(24px);

    @include respond-above(xs) {
        padding-left: 10vw;
        padding-right: 10vw;
    }

    @include respond-above(sm) {
        padding-left: 15vw;
        padding-right: 15vw;
    }

    @include respond-above(xxl) {
        padding-left: rem(216px);
        padding-right: rem(216px);
    }

    #home > & {
        flex-basis: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        height: 100vh;
        padding-bottom: rem(88px);
    }
}

.section {
    &-title {
        margin-bottom: rem(40px);

        @include respond-above(lg) {
            margin-bottom: rem(56px);
        }
    }

    &-content {
        margin-bottom: rem(48px);

        @include respond-above(lg) {
            margin-bottom: rem(64px);
        }
    }
}

.viktor {
    &-info {
        grid-column: 1 / span 3;
        grid-row: 1 / span 2;
        align-self: center;
    }

    &-about {
        position: relative;
        top: 1em;
        left: 1.75em;
        width: calc(100% - 1.75em);
    }
}

.home-nav {
    position: relative;
    bottom: 1em;
    grid-column: 2 / span 2;
    grid-row: 3;
    justify-self: flex-end;
    align-self: flex-end;
}

.icon {
    display: inline-block;
    margin: rem(6px);

    &--shift-right {
        margin-left: rem(40px);

        @include respond-above(lg) {
            margin-left: rem(60px);
        }
    }

    &-grid {
        margin: rem(-12px);
    }
}
