// Mixins
// Aspect ratio
$ratio-width:  3;
$ratio-height: 2;


// Others
// Body
$body-min-width: 320px;


// Inputs
$input-max-width: rem(640px);
$input-xl-max-width: rem(800px);
$input-xxl-max-width: rem(880px);
