#photography {
    background-color: $white;
    background: linear-gradient(0deg, $white 0%, $black 20%, $black 80%, $white 100%);
    scroll-margin-block: -35vh;

    .container {
        padding-block: 40vh;
    }
}
