.home-nav {
    position: relative;
    bottom: 1em;
    grid-column: 2 / span 2;
    grid-row: 3;
    justify-self: flex-end;
    align-self: flex-end;
    text-align: right;
    font-size: rem(18px);

    @include respond-above(lg) {
        font-size: rem(21px);
    }

    @include respond-above(xxl) {
        font-size: rem(24px);
    }

    &__item {
        margin-bottom: 1em;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        text-decoration: currentColor solid underline;
        color: $black;

        &:hover {
            text-decoration-color: transparent;
            color: $black;
        }
    }
}
